<!DOCTYPE HTML>
<html>
<meta charset="UTF-8">
<head><title>Remindme 提醒我</title>
<link rel="stylesheet" type="text/css" href="./static/css/remind.css"/>
<script language="javascript" src="./static/js/jquery-1.11.3.js"></script>
<script language="javascript" src="./static/js/jquery.tabledit.js"></script>
</head>

<body>
<h1><?php echo "我的提醒"; ?></h1>

<div align="center">
<!-- Table goes in the document BODY -->
<table class="gridtable" class="table table-striped table-bordered" id="remind">
	<!--<th>#</th><th>提醒事项</th><th>金额</th><th>执行日期</th><th>详情</th><th>添加日期</th><th>操作</ht>-->
	<thead>
	<tr>
	<th>#</th>
    <th>提醒事项</th>
    <th>金额</th>
    <th>执行日期</th>
    <th>详情</th>
    <th>添加日期</th>
	<th class="tabledit-toolbar-column">操作</th>
	</tr>									
	</thead>
<tbody>

<!--content-->
<?php 
    
    foreach($data as $var){
        $add_time = date("Y-m-d",$var['add_date']);
        $refund_date = date("Y-m-d",$var['refund_date']);
        echo '<tr id="'.$var["id"].'" class="danger">
        <td><span class="tabledit-span tabledit-identifier">'.$var["id"].'</span><input class="tabledit-input tabledit-identifier" type="hidden" name="id" value="'.$var["id"].'" disabled=""></td>
        <td class="tabledit-view-mode"><span class="tabledit-span" style="display: inline;">'.$var["title"].'</span><input class="tabledit-input form-control input-sm" type="text" name="title" value="'.$var["title"].'" style="display: none;" disabled=""></td>
        <td class="tabledit-view-mode"><span class="tabledit-span" style="display: inline;">'.$var["sum"].'</span><input class="tabledit-input form-control input-sm" type="text" name="sum" value="'.$var["sum"].'" style="display: none;" disabled=""></td>
        <td class="tabledit-view-mode"><span class="tabledit-span" style="display: inline;">'.$refund_date.'</span><input class="tabledit-input form-control input-sm" type="text" name="refunddate" value="'.$refund_date.'" style="display: none;" disabled=""></td>
        <td class="tabledit-view-mode"><span class="tabledit-span" style="display: inline;">'.$var["desc"].'</span><input class="tabledit-input form-control input-sm" type="text" name="desc" value="'.$var["desc"].'" style="display: none;" disabled=""></td>
        <td class="tabledit-view-mode"><span class="tabledit-span" style="display: inline;">'.$add_time.'</span><input class="tabledit-input form-control input-sm" type="text" name="addtime" value="'.$add_time.'" style="display: none;" disabled=""></td>
        </tr>';
    }


?>

<!--content end-->
</tbody>
</table>
</div>


<!--添加新记录-->
<div align="right">
	<button id="tabledit-addrow">新增一条记录</button>
</div>

</body>



<script>
    $(document).ready(function() {
        // Example #1
        $('#remind').Tabledit({
            url: 'index.php',
            columns: {
                identifier: [0, 'id'],
                editable: [[1, 'title'], [2, 'sum'], [3, 'refunddate'],[4,'desc']]
            }
        });
        
    });

    //新增一条记录
    $("#tabledit-addrow").click(function() {
		var action = 'add';
    	var title = '输入提醒事项';
    	var sum = 0;
    	var refund_date = '2015-07-20';
		var desc = '输入提醒描述';

    	$.ajax({
  			type: 'POST',
  			url: 'index.php',
  			data: {'action':action,'title':title,'sum':sum,'refunddate':refund_date,'desc':desc},
  			dataType: 'json',
  			success: function(data){
				if(data){
						location.reload();
					}	
  			}
		});
		
    });
</script>

</html>
