<!DOCTYPE HTML>
<html>
<meta charset="UTF-8">
<head><title>Remindme 提醒我</title>
<style type="text/css">
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
</style>
</head>



<body>
<h1><?php echo "我的提醒"; ?></h1>
<div align="center">
<!-- Table goes in the document BODY -->
<table class="gridtable">
<tr>
	<th>#</th><th>提醒事项</th><th>金额</th><th>执行日期</th><th>详情</th><th>添加日期</th>
</tr>


<?php 
	
	foreach($data as $var){
		$add_time = date("Y-m-d",$var['add_date']);
		$refund_date = date("Y-m-d",$var['refund_date']);
		echo '<tr><td>'.$var["id"].'</td><td>'.$var["title"].'</td><td>'.$var["sum"].'</td><td>'.$refund_date.'</td><td>'.$var["desc"].'</td><td>'.$add_time.'</td></tr>';


	}


?>	



</table>
</div>
</body>

</html>
