<!DOCTYPE HTML>
<html>
<meta charset="UTF-8">
<head><title>Remindme 提醒我</title>
<style type="text/css">
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
</style>
<script language="javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.js"></script>
<script language="javascript" src="./jquery.tabledit.js"></script>
</head>



<body>
<h1><?php echo "我的提醒"; ?></h1>
<div align="center">
<!-- Table goes in the document BODY -->
<table class="gridtable" class="table table-striped table-bordered" id="example1">

	<!--<th>#</th><th>提醒事项</th><th>金额</th><th>执行日期</th><th>详情</th><th>添加日期</th><th>操作</ht>-->
	<thead><tr>                          <th>#</th>

                                    <th>title</th>
                                    <th>sumb</th>
                                    <th>date</th>
									<th class="tabledit-toolbar-column"></th>
</tr>
									</thead>


<tbody>

<tr id="1" class="danger">
<td><span class="tabledit-span tabledit-identifier">1</span><input class="tabledit-input tabledit-identifier" type="hidden" name="id" value="1" disabled=""></td>

<td class="tabledit-view-mode"><span class="tabledit-span" style="display: inline;">markcell</span><input class="tabledit-input form-control input-sm" type="text" name="nickname" value="markcell" style="display: none;" disabled=""></td>

<td class="tabledit-view-mode"><span class="tabledit-span" style="display: inline;">Celso</span><input class="tabledit-input form-control input-sm" type="text" name="firstname" value="Celso" style="display: none;" disabled=""></td>

<td class="tabledit-view-mode"><span class="tabledit-span" style="display: inline;">Marques</span><input class="tabledit-input form-control input-sm" type="text" name="lastname" value="Marques" style="display: none;" disabled=""></td>

</tr>


<tr id="2" class="danger">
<td><span class="tabledit-span tabledit-identifier">2</span><input class="tabledit-input tabledit-identifier" type="hidden" name="id" value="2" disabled=""></td>

<td class="tabledit-view-mode"><span class="tabledit-span" style="display: inline;">markcell2</span><input class="tabledit-input form-control input-sm" type="text" name="nickname" value="markcell" style="display: none;" disabled=""></td>

<td class="tabledit-view-mode"><span class="tabledit-span" style="display: inline;">Celso2</span><input class="tabledit-input form-control input-sm" type="text" name="firstname" value="Celso" style="display: none;" disabled=""></td>

<td class="tabledit-view-mode"><span class="tabledit-span" style="display: inline;">Marques2</span><input class="tabledit-input form-control input-sm" type="text" name="lastname" value="Marques" style="display: none;" disabled=""></td>

</tr>


</tbody>

<script>
    $(document).ready(function() {
        // Example #1
        $('#example1').Tabledit({
            url: 'example.php',
            columns: {
                identifier: [0, 'id'],
                editable: [[1, 'title'], [2, 'sum'], [3, 'date']]
            }
        });

       
        
    });
</script>

</table>
</div>
</body>

</html>
